<settings>
	<category label="General">
	<setting id="enable_playback_service" type="bool" label="Enable Playback Service" default="true"/>
	<setting id="force_pvr_sync" type="bool" label="Force PVR Trakt Sync" default="false" visible="false"/>
	<setting id="mythtv_host" type="text" label="Mythtv Host" default="" enable="!eq(-1,false)" subsetting="true" visible="false"/>
	
	</category>
	<category label="Metadata">
		<setting type="lsep" label="Metadata Service."/>
		<setting id="enable_background_caching" type="bool" label="Enable Background Caching" default="false"/>
		<setting id="enable_local_caching" type="bool" label="Save Images to Disk" default="false"/>
		<setting id="local_cache_folder" type="folder" label="Image Cache Location" default="special://userdata/addon_data/script.module.dudehere.routines/meta_images" enable="!eq(-1,false)" subsetting="true"/>	

	</category>
	<!--
	<category label="Web Service">
		<setting type="lsep" label="Web Control Service."/>
		<setting type="lsep" label="Specify conneciton port and interface 0.0.0.0/127.0.0.1"/>
		<setting id="enable_control_service" type="bool" label="Enable Control Server" default="false"/>
		<setting id="network_bind" type="labelenum" label="Network" values="All Subnets|Localhost" default="Localhost" />
		<setting label="Port" type="slider" id="control_port" default="8630" range="8000,1,8999" option="int"/>
	</category>
	-->
	<category label="Database">
		<setting id="database_type" type="enum" label="Database Type" values="SQLite|MySQL" default="0"/>
		<setting type="lsep" label="SQLite"/>
		<setting id="database_sqlite_file" type="file" label="SQLite File" default="special://userdata/addon_data/script.module.dudehere.routines/trakt.db" enable="eq(-2,0) + !eq(-3,false)" subsetting="true"/>	
		<setting type="lsep" label="MySQL"/>
		<setting id="database_mysql_host" type="text" label="Host" default="" enable="eq(-4,1)" subsetting="true" />
		<setting id="database_mysql_name" type="text" label="MySQL Schema Name" default="metadata" enable="eq(-5,1)" subsetting="true" />
		<setting id="database_mysql_user" type="text" label="MySQL Username" default="" enable="eq(-6,1)" subsetting="true" />
		<setting id="database_mysql_pass" type="text" label="MySQL Password" option="hidden" default="" enable="eq(-7,1)" subsetting="true" />
		<setting id="database_mysql_port" type="number" label="MySQL Port" default="3306" enable="eq(-8,1)" subsetting="true" />
		<setting id="database_sqlite_init" type="text" default="false" visible="false" />
		<setting id="database_mysql_init" type="text" default="false" visible="false" />
		<setting id="database_sqlite_version" type="number" default="1" visible="false" />
		<setting id="database_mysql_version" type="number" default="1" visible="false" />
	</category>
</settings>