<settings>
    <setting id="Location1" value="New York (US)" />
    <setting id="Location1id" value="2459115" />
    <setting id="Location2" value="Los Angeles (US)" />
    <setting id="Location2id" value="2442047" />
    <setting id="Location3" value="Chicago (US)" />
    <setting id="Location3id" value="2379574" />
    <setting id="Location4" value="" />
    <setting id="Location4id" value="" />
    <setting id="Location5" value="" />
    <setting id="Location5id" value="" />
</settings>
