<settings>
    <setting id="MakoDeviceID" value="W3256A5CA81BB-11E6-9427-088160108A16" />
    <setting id="MakoPassword" value="" />
    <setting id="MakoUsername" value="" />
    <setting id="forceUA" value="false" />
    <setting id="israeliIP" value="" />
    <setting id="userUA" value="" />
</settings>
