<settings>
    <setting id="home.dontfade" type="bool">false</setting>
    <setting id="skin.init2" type="bool">true</setting>
    <setting id="home.monochromemode" type="bool">true</setting>
    <setting id="NextAired.Update" type="bool">false</setting>
    <setting id="posterview.labels" type="bool">false</setting>
    <setting id="home.autopop" type="bool">false</setting>
    <setting id="skin.init" type="bool">true</setting>
    <setting id="rss.tvnextaired" type="bool">false</setting>
    <setting id="home.328.enabled" type="bool">false</setting>
    <setting id="home.323.enabled" type="bool">false</setting>
    <setting id="home.302.enabled" type="bool">true</setting>
    <setting id="header.matchhome" type="bool">false</setting>
    <setting id="home.widgetdown" type="bool">true</setting>
    <setting id="HideDebugInfo" type="bool">true</setting>
    <setting id="ArtistSlideShow.Enabled" type="bool">false</setting>
    <setting id="home.307.enabled" type="bool">true</setting>
    <setting id="posterview.info" type="bool">false</setting>
    <setting id="wallviewmusic.info" type="bool">false</setting>
    <setting id="fanart.showall" type="bool">false</setting>
    <setting id="home.310.enabled" type="bool">true</setting>
    <setting id="home.324.enabled" type="bool">false</setting>
    <setting id="home.321.enabled" type="bool">true</setting>
    <setting id="home.329.enabled" type="bool">false</setting>
    <setting id="posterview.tvinfo" type="bool">false</setting>
    <setting id="disablecontext:script.playrandomvideos" type="bool">false</setting>
    <setting id="listview.tvinfo" type="bool">false</setting>
    <setting id="home.disablehubs" type="bool">false</setting>
    <setting id="home.325.enabled" type="bool">false</setting>
    <setting id="home.320.enabled" type="bool">true</setting>
    <setting id="home.308.enabled" type="bool">true</setting>
    <setting id="fanart.showmore" type="bool">false</setting>
    <setting id="ActivateTvTunes" type="bool">false</setting>
    <setting id="OSDVisualisation.ShowFanart" type="bool">false</setting>
    <setting id="home.301.enabled" type="bool">true</setting>
    <setting id="disable.pvricon" type="bool">true</setting>
    <setting id="list.highlight" type="bool">false</setting>
    <setting id="home.311.enabled" type="bool">true</setting>
    <setting id="disable.weatherheader" type="bool">false</setting>
    <setting id="home.314.enabled" type="bool">true</setting>
    <setting id="home.invertwidgets" type="bool">false</setting>
    <setting id="home.matchcolor" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="home.304.enabled" type="bool">true</setting>
    <setting id="home.talltiles" type="bool">true</setting>
    <setting id="wallview.info" type="bool">false</setting>
    <setting id="home.usemixedglobalwidget" type="bool">false</setting>
    <setting id="home.313.enabled" type="bool">true</setting>
    <setting id="Fanart.Animate" type="bool">false</setting>
    <setting id="header.matchhighlight" type="bool">true</setting>
    <setting id="home.306.enabled" type="bool">true</setting>
    <setting id="osd.useclassicinfo" type="bool">false</setting>
    <setting id="home.303.enabled" type="bool">true</setting>
    <setting id="lovefilm.info" type="bool">false</setting>
    <setting id="home.309.enabled" type="bool">true</setting>
    <setting id="disable.scrollbars" type="bool">false</setting>
    <setting id="home.322.enabled" type="bool">true</setting>
    <setting id="UpdateArt.Enabled" type="bool">false</setting>
    <setting id="disable.rss" type="bool">false</setting>
    <setting id="home.305.enabled" type="bool">true</setting>
    <setting id="widget.window" type="bool">false</setting>
    <setting id="disable.bgvideo" type="bool">true</setting>
    <setting id="home.327.enabled" type="bool">false</setting>
    <setting id="home.showinfoonwidget" type="bool">true</setting>
    <setting id="listview.info" type="bool">false</setting>
    <setting id="purplefade" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="Vis.ExtraInfo" type="bool">false</setting>
    <setting id="showdetailedosdinfo" type="bool">true</setting>
    <setting id="home.312.enabled" type="bool">true</setting>
    <setting id="homepageWeatherinfo" type="bool">false</setting>
    <setting id="disable.clockheader" type="bool">false</setting>
    <setting id="home.326.enabled" type="bool">false</setting>
    <setting id="ArtistSlideshow.Animate" type="bool">false</setting>
    <setting id="hide.clearartosd" type="bool">false</setting>
    <setting id="disable.fanart" type="bool">false</setting>
    <setting id="moviehub.1.Label" type="string">All Movies</setting>
    <setting id="home.320.Icon" type="string">special://skin/extras/icons/youtube.png</setting>
    <setting id="home.306.bgwidget.type" type="string">Slideshow</setting>
    <setting id="home.321.Label" type="string">Add-ons</setting>
    <setting id="home.323.Label" type="string"></setting>
    <setting id="home.503.bgwidget" type="string"></setting>
    <setting id="home.303.bgcolor" type="string">ffec09ee</setting>
    <setting id="home.312.Icon" type="string">special://skin/extras/icons/radio.png</setting>
    <setting id="home.329.Label" type="string"></setting>
    <setting id="home.304.bgwidget.type" type="string">Slideshow</setting>
    <setting id="tvshowhub.2.Icon" type="string">special://skin/extras/icons/timer.png</setting>
    <setting id="tvshowhub.6.Path" type="string">ActivateWindow(Videos,Files,return)</setting>
    <setting id="moviehub.2.Path" type="string">ActivateWindow(Videos,RecentlyAddedMovies,return)</setting>
    <setting id="home.305.bgwidget" type="string">special://skin/extras/backgrounds/Educational\</setting>
    <setting id="home.501.bgwidget.type" type="string"></setting>
    <setting id="musichub.6.Label" type="string">Files</setting>
    <setting id="musichub.3.Label" type="string">Search</setting>
    <setting id="home.323.Icon" type="string"></setting>
    <setting id="home.326.Label" type="string"></setting>
    <setting id="home.328.Icon" type="string"></setting>
    <setting id="home.328.bgwidget" type="string"></setting>
    <setting id="home.307.icon" type="string">special://skin/extras/icons/tv.png</setting>
    <setting id="home.504.bgwidget" type="string"></setting>
    <setting id="home.312.path" type="string">ActivateWindow(10025,&quot;plugin://plugin.program.super.favourites/?label=Radio &amp; Music&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CMusic%20%26%20Radio&quot;,return)</setting>
    <setting id="home.304.label" type="string">Gaming!</setting>
    <setting id="home.301.bgwidget.type" type="string">Slideshow</setting>
    <setting id="home.302.bgwidget.type" type="string">Slideshow</setting>
    <setting id="musichub.7.Path" type="string">UpdateLibrary(music)</setting>
    <setting id="home.311.bgcolor" type="string">ffbf7fbf</setting>
    <setting id="home.329.bgwidget.type" type="string"></setting>
    <setting id="home.302.icon" type="string">special://skin/extras/icons/search.png</setting>
    <setting id="tvshowhub.2.Path" type="string">ActivateWindow(Videos,RecentlyAddedEpisodes,return)</setting>
    <setting id="home.328.Label" type="string"></setting>
    <setting id="musichub.7.Label" type="string">Update library</setting>
    <setting id="moviehub.2.Icon" type="string">special://skin/extras/icons/timer.png</setting>
    <setting id="home.312.bgcolor" type="string">ffffa500</setting>
    <setting id="home.303.bgwidget" type="string">special://skin/extras/backgrounds/Favorites\</setting>
    <setting id="home.305.List" type="string">plugin://plugin.program.super.favourites/?label=Movies&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CMovies</setting>
    <setting id="home.313.path" type="string">ActivateWindow(settings)</setting>
    <setting id="tvshow.widget.playlist" type="string"></setting>
    <setting id="home.310.label" type="string">Extras</setting>
    <setting id="home.329.bgwidget" type="string"></setting>
    <setting id="moviehub.6.Icon" type="string">special://skin/extras/icons/files.png</setting>
    <setting id="musichub.5.Path" type="string">ActivateWindow(MusicLibrary,Playlists,return)</setting>
    <setting id="home.321.bgwidget.type" type="string">Slideshow</setting>
    <setting id="home.503.bgwidget.type" type="string"></setting>
    <setting id="home.314.bgcolor" type="string">fff20707</setting>
    <setting id="musichub.1.Path" type="string">ActivateWindow(MusicLibrary,Artists,return)</setting>
    <setting id="StartupPlaylist" type="string"></setting>
    <setting id="home.327.Label" type="string"></setting>
    <setting id="home.312.List" type="string">plugin://plugin.program.super.favourites/?label=News&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CNews</setting>
    <setting id="moviehub.4.Label" type="string">Genres</setting>
    <setting id="home.323.bgwidget" type="string"></setting>
    <setting id="home.327.bgcolor" type="string">ff555555</setting>
    <setting id="home.327.path" type="string"></setting>
    <setting id="moviehub.3.Icon" type="string">special://skin/extras/icons/search.png</setting>
    <setting id="musichub.5.Label" type="string">Playlists</setting>
    <setting id="home.324.Icon" type="string"></setting>
    <setting id="home.322.Icon" type="string">special://skin/extras/icons/signpost.png</setting>
    <setting id="home.326.bgcolor" type="string">ff555555</setting>
    <setting id="home.329.bgcolor" type="string">ff555555</setting>
    <setting id="tvshowhub.1.Path" type="string">ActivateWindow(Videos,TvShowTitles,return)</setting>
    <setting id="home.326.Icon" type="string"></setting>
    <setting id="movie.widget" type="string"></setting>
    <setting id="home.310.bgwidget" type="string">special://skin/extras/backgrounds/Extras\</setting>
    <setting id="home.325.bgcolor" type="string">ff555555</setting>
    <setting id="global.widget.path.type" type="string"></setting>
    <setting id="home.311.path" type="string">ActivateWindow(10025,&quot;plugin://plugin.program.super.favourites/?label=International TV&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CWorld&quot;,return)</setting>
    <setting id="home.310.path" type="string">ActivateWindow(10025,&quot;plugin://plugin.program.super.favourites/?label=Extras&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CExtras&quot;,return)</setting>
    <setting id="home.310.icon" type="string">special://skin/extras/icons/swissarmy.png</setting>
    <setting id="home.328.path" type="string"></setting>
    <setting id="home.322.path" type="string">ActivateWindow(10025,&quot;plugin://plugin.program.super.favourites/?label=ODI TV Updates &amp; Staff Picks&amp;mode=400&amp;path=special%3A%2F%2Fprofile%2Faddon_data%2Fplugin.program.super.favourites%2FSuper%20Favourites%5CHelp&quot;,return)</setting>
    <setting id="home.313.bgcolor" type="string">ff808080</setting>
    <setting id="tvshow.widget" type="string"></setting>
    <setting id="home.325.Label" type="string"></setting>
    <setting id="home.307.label" type="string">Archived TV</setting>
    <setting id="home.320.bgcolor" type="string">ffffe4c4</setting>
    <setting id="home.305.icon" type="string">special://skin/extras/icons/livetv.png</setting>
    <setting id="home.329.path" type="string"></setting>
    <setting id="home.327.Icon" type="string"></setting>
    <setting id="tvshowhub.6.Icon" type="string">special://skin/extras/icons/files.png</setting>
    <setting id="home.309.bgwidget.type" type="string">Slideshow</setting>
    <setting id="home.314.icon" type="string">special://skin/extras/icons/power.png</setting>
    <setting id="home.311.label" type="string">International</setting>
    <setting id="home.325.Icon" type="string"></setting>
    <setting id="home.326.bgwidget.type" type="string"></setting>
    <setting id="tvshowhub.2.Label" type="string">Recently Added</setting>
    <setting id="home.326.bgwidget" type="string"></setting>
    <setting id="home.321.bgcolor" type="string">ff053404</setting>
    <setting id="home.308.label" type="string">Movies</setting>
    <setting id="home.309.label" type="string">Sports</setting>
    <setting id="moviehub.5.Icon" type="string">special://skin/extras/icons/playlist.png</setting>
    <setting id="home.502.bgwidget" type="string"></setting>
    <setting id="home.329.Icon" type="string"></setting>
    <setting id="tvshowhub.7.Label" type="string">Update library</setting>
    <setting id="home.307.bgwidget.type" type="string">Slideshow</setting>
    <setting id="tvshowhub.1.Icon" type="string">special://skin/extras/icons/title.png</setting>
    <setting id="home.306.label" type="string">More Live TV</setting>
    <setting id="tvshowhub.4.Path" type="string">ActivateWindow(Videos,TvShowGenres,return)</setting>
    <setting id="home.314.bgwidget.type" type="string">Slideshow</setting>
    <setting id="moviehub.6.Path" type="string">ActivateWindow(Videos,Files,return)</setting>
    <setting id="home.301.bgcolor" type="string">ffe5e500</setting>
    <setting id="home.304.bgwidget" type="string">special://skin/extras/backgrounds\News\</setting>
    <setting id="home.324.Label" type="string"></setting>
    <setting id="tvshowhub.3.Icon" type="string">special://skin/extras/icons/search.png</setting>
    <setting id="moviehub.6.Label" type="string">Files</setting>
    <setting id="musichub.2.Icon" type="string">special://skin/extras/icons/songs.png</setting>
    <setting id="moviehub.7.Icon" type="string">special://skin/extras/icons/update.png</setting>
    <setting id="musichub.2.Label" type="string">Albums</setting>
    <setting id="musichub.4.Label" type="string">Top 100 albums</setting>
    <setting id="tvshowhub.5.Icon" type="string">special://skin/extras/icons/playlist.png</setting>
    <setting id="home.327.bgwidget.type" type="string"></setting>
    <setting id="musichub.1.Label" type="string">Artists</setting>
    <setting id="home.302.bgwidget" type="string">special://skin/extras/backgrounds/Search\</setting>
    <setting id="musichub.3.Path" type="string">RunScript(script.globalsearch,albums=true&amp;artists=true&amp;songs=true)</setting>
    <setting id="moviehub.1.Path" type="string">ActivateWindow(Videos,MovieTitles,return)</setting>
    <setting id="home.305.path" type="string">ActivateWindow(3204)</setting>
    <setting id="movie.widget.playlist" type="string"></setting>
    <setting id="home.502.bgwidget.type" type="string"></setting>
    <setting id="home.320.Label" type="string">YouTube</setting>
    <setting id="HomeAddon.Path" type="string">plugin.program.iarl</setting>
    <setting id="tvshowhub.1.Label" type="string">All TV Shows</setting>
    <setting id="Widget_Favourite.Path" type="string"></setting>
    <setting id="home.322.List" type="string">plugin://plugin.program.super.favourites/?label=User Favorites&amp;mode=400&amp;path=special%3A%2F%2Fprofile%2Faddon_data%2Fplugin.program.super.favourites%2FSuper%20Favourites%5CUser%20Favorites&amp;sf_options=fanart%3DNULL%26_options_sf</setting>
    <setting id="musichub.7.Icon" type="string">special://skin/extras/icons/update.png</setting>
    <setting id="musichub.4.Path" type="string">ActivateWindow(MusicLibrary,Top100Albums,return)</setting>
    <setting id="musichub.6.Icon" type="string">special://skin/extras/icons/files.png</setting>
    <setting id="home.320.List" type="string">plugin://plugin.program.super.favourites/?label=International TV&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CInternational%20TV</setting>
    <setting id="home.302.label" type="string">Search</setting>
    <setting id="home.501.bgwidget" type="string"></setting>
    <setting id="home.303.List" type="string">plugin://plugin.program.super.favourites/?label=Archived TV&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CArchived%20TV</setting>
    <setting id="home.306.bgcolor" type="string">ff00b8ff</setting>
    <setting id="global.background" type="string"></setting>
    <setting id="home.324.bgwidget.type" type="string"></setting>
    <setting id="home.306.icon" type="string">special://skin/extras/icons/livetv.png</setting>
    <setting id="moviehub.5.Path" type="string">ActivateWindow(videos,special://videoplaylists/,return)</setting>
    <setting id="home.313.icon" type="string">special://skin/extras/icons/settings.png</setting>
    <setting id="home.321.List" type="string">plugin://plugin.program.super.favourites/?label=Sports&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CSports</setting>
    <setting id="moviehub.1.Icon" type="string">special://skin/extras/icons/title.png</setting>
    <setting id="home.323.bgcolor" type="string">ff555555</setting>
    <setting id="home.309.path" type="string">ActivateWindow(10025,&quot;plugin://plugin.program.super.favourites/?label=Sports&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CSports&quot;,return)</setting>
    <setting id="tvshowhub.5.Path" type="string">ActivateWindow(videos,special://videoplaylists/,return)</setting>
    <setting id="home.304.path" type="string">RunAddon(plugin.program.iarl)</setting>
    <setting id="global.background2" type="string"></setting>
    <setting id="musichub.6.Path" type="string">ActivateWindow(MusicFiles)</setting>
    <setting id="home.504.bgwidget.type" type="string"></setting>
    <setting id="home.303.label" type="string">Favorites</setting>
    <setting id="moviehub.3.Label" type="string">Search</setting>
    <setting id="home.324.bgcolor" type="string">ff555555</setting>
    <setting id="home.324.path" type="string"></setting>
    <setting id="home.302.path" type="string">ActivateWindow(10025,&quot;plugin://plugin.program.super.favourites/?label=Search&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CSearch&quot;,return)</setting>
    <setting id="home.301.label" type="string">Weather</setting>
    <setting id="home.312.Label" type="string">Radio/Music</setting>
    <setting id="tvshowhub.3.Path" type="string">RunScript(script.globalsearch,tvshows=true&amp;episodes=true&amp;movies=true)</setting>
    <setting id="home.304.bgcolor" type="string">ff342704</setting>
    <setting id="home.324.bgwidget" type="string"></setting>
    <setting id="home.327.bgwidget" type="string"></setting>
    <setting id="moviehub.5.Label" type="string">Playlists</setting>
    <setting id="home.306.bgwidget" type="string">special://skin/extras/backgrounds/Live TV2\</setting>
    <setting id="home.313.bgwidget.type" type="string">Slideshow</setting>
    <setting id="global.widget.path" type="string"></setting>
    <setting id="moviehub.7.Path" type="string">UpdateLibrary(video)</setting>
    <setting id="home.307.path" type="string">ActivateWindow(10025,&quot;plugin://plugin.program.super.favourites/?label=Archived TV&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5COn%20Demand%20TV&quot;,return)</setting>
    <setting id="moviehub.7.Label" type="string">Update library</setting>
    <setting id="home.fanart" type="string"></setting>
    <setting id="tvshowhub.6.Label" type="string">Files</setting>
    <setting id="musichub.4.Icon" type="string">special://skin/extras/icons/top100.png</setting>
    <setting id="home.314.bgwidget" type="string">special://skin/extras/backgrounds/Power\</setting>
    <setting id="home.311.bgwidget.type" type="string">Slideshow</setting>
    <setting id="home.314.path" type="string">ActivateWindow(shutdownmenu)</setting>
    <setting id="home.309.bgcolor" type="string">ff13a310</setting>
    <setting id="moviehub.2.Label" type="string">Recently Added</setting>
    <setting id="Widget_Position" type="string"></setting>
    <setting id="home.320.bgwidget.type" type="string">Slideshow</setting>
    <setting id="home.328.bgcolor" type="string">ff555555</setting>
    <setting id="home.301.path" type="string">ActivateWindow(Weather)</setting>
    <setting id="musichub.2.Path" type="string">ActivateWindow(MusicLibrary,Albums,return)</setting>
    <setting id="home.304.icon" type="string">special://skin/extras/icons/games.png</setting>
    <setting id="home.305.label" type="string">Live TV</setting>
    <setting id="home.322.bgwidget.type" type="string">Slideshow</setting>
    <setting id="moviehub.4.Path" type="string">ActivateWindow(Videos,MovieGenres,return)</setting>
    <setting id="tvshowhub.4.Label" type="string">Genres</setting>
    <setting id="SF_QL.Path" type="string"></setting>
    <setting id="home.312.bgwidget.type" type="string">Slideshow</setting>
    <setting id="home.310.bgwidget.type" type="string">Slideshow</setting>
    <setting id="home.303.path" type="string">ActivateWindow(favourites)</setting>
    <setting id="weather.useicons" type="string">Confluence</setting>
    <setting id="home.304.List" type="string">plugin://plugin.program.super.favourites/?label=Live TV&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CLive%20TV</setting>
    <setting id="weather.fanart" type="string"></setting>
    <setting id="home.311.icon" type="string">special://skin/extras/icons/world.png</setting>
    <setting id="home.321.Icon" type="string">special://skin/extras/icons/video-addons.png</setting>
    <setting id="moviehub.4.Icon" type="string">special://skin/extras/icons/genre.png</setting>
    <setting id="tvshowhub.7.Icon" type="string">special://skin/extras/icons/update.png</setting>
    <setting id="home.308.bgcolor" type="string">ff40e0d0</setting>
    <setting id="musichub.3.Icon" type="string">special://skin/extras/icons/search.png</setting>
    <setting id="tvshowhub.3.Label" type="string">Search</setting>
    <setting id="home.313.bgwidget" type="string">special://skin/extras/backgrounds/Settings\</setting>
    <setting id="home.305.bgcolor" type="string">ff00b8ff</setting>
    <setting id="home.321.bgwidget" type="string">special://skin/extras/backgrounds/Addons/</setting>
    <setting id="home.307.bgwidget" type="string">special://skin/extras/backgrounds/Archived TV\</setting>
    <setting id="home.313.label" type="string">Settings</setting>
    <setting id="home.309.icon" type="string">special://skin/extras/icons/beer.png</setting>
    <setting id="home.328.bgwidget.type" type="string"></setting>
    <setting id="musichub.1.Icon" type="string">special://skin/extras/icons/artist.png</setting>
    <setting id="home.301.icon" type="string">special://skin/extras/icons/sun.png</setting>
    <setting id="home.311.bgwidget" type="string">special://skin/extras/backgrounds/International\</setting>
    <setting id="home.320.bgwidget" type="string">special://skin/extras/backgrounds\YouTube\</setting>
    <setting id="home.308.icon" type="string">special://skin/extras/icons/director.png</setting>
    <setting id="home.326.path" type="string"></setting>
    <setting id="home.303.bgwidget.type" type="string">Slideshow</setting>
    <setting id="home.308.path" type="string">ActivateWindow(10025,&quot;plugin://plugin.program.super.favourites/?label=Movies&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CMovies&quot;,return)</setting>
    <setting id="home.311.List" type="string">plugin://plugin.program.super.favourites/?label=ODI TV Updates &amp; Staff Picks&amp;mode=400&amp;path=special%3A%2F%2Fprofile%2Faddon_data%2Fplugin.program.super.favourites%2FSuper%20Favourites%5CODI%20TV%20Updates%20%26%20Staff%20Picks&amp;sf_options=fanart%3DNULL%26_options_sf</setting>
    <setting id="home.302.List" type="string">plugin://plugin.program.super.favourites/?label=Radio &amp; Music&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CRadio%20%26%20Music</setting>
    <setting id="home.308.bgwidget" type="string">special://skin/extras/backgrounds/Movies\</setting>
    <setting id="home.headertext" type="string">ODI TV</setting>
    <setting id="home.325.path" type="string"></setting>
    <setting id="home.301.bgwidget" type="string">special://skin/extras/backgrounds/Weather2\</setting>
    <setting id="home.312.bgwidget" type="string">special://skin/extras/backgrounds/Radio and Music\</setting>
    <setting id="home.322.bgcolor" type="string">FFD2B48C</setting>
    <setting id="home.306.path" type="string">ActivateWindow(10025,&quot;plugin://plugin.program.super.favourites/?label=Live TV&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CLive%20TV&quot;,return)</setting>
    <setting id="home.308.bgwidget.type" type="string">Slideshow</setting>
    <setting id="home.321.path" type="string">ActivateWindow(Videos,addons://sources/video/,return)</setting>
    <setting id="home.309.bgwidget" type="string">special://skin/extras/backgrounds/Sports\</setting>
    <setting id="home.323.path" type="string"></setting>
    <setting id="home.320.path" type="string">RunAddon(plugin.video.youtube)</setting>
    <setting id="home.314.label" type="string">Power</setting>
    <setting id="home.305.bgwidget.type" type="string">Slideshow</setting>
    <setting id="home.302.bgcolor" type="string">ff31102f</setting>
    <setting id="home.303.icon" type="string">special://skin/extras/icons/favourites.png</setting>
    <setting id="home.325.bgwidget" type="string"></setting>
    <setting id="home.325.bgwidget.type" type="string"></setting>
    <setting id="tvshowhub.4.Icon" type="string">special://skin/extras/icons/genre.png</setting>
    <setting id="home.307.bgcolor" type="string">ff123677</setting>
    <setting id="home.310.bgcolor" type="string">ff730073</setting>
    <setting id="home.307.List" type="string">plugin://plugin.program.super.favourites/?label=Sports&amp;mode=400&amp;path=special%3A%2F%2Fhome%2Fuserdata%5Caddon_data%5Cplugin.program.super.favourites%5CSuper%20Favourites%5CSports</setting>
    <setting id="musichub.5.Icon" type="string">special://skin/extras/icons/playlist.png</setting>
    <setting id="home.323.bgwidget.type" type="string"></setting>
    <setting id="moviehub.3.Path" type="string">RunScript(script.globalsearch,tvshows=true&amp;episodes=true&amp;movies=true)</setting>
    <setting id="tvshowhub.7.Path" type="string">UpdateLibrary(video)</setting>
    <setting id="tvshowhub.5.Label" type="string">Playlists</setting>
    <setting id="home.322.Label" type="string">Help</setting>
    <setting id="home.322.bgwidget" type="string">special://skin/extras/backgrounds/ODINet/</setting>
</settings>
