<settings>
    <setting id="8tracks_email" value="" />
    <setting id="8tracks_password" value="" />
    <setting id="8tracks_token" value="" />
    <setting id="digster_country" value="21" />
    <setting id="display_artistinfo_cmenu" value="true" />
    <setting id="display_songinfo_cmenu" value="false" />
    <setting id="get_artist_fanart" value="false" />
    <setting id="hide_soundtrack" value="false" />
    <setting id="items_per_page" value="20" />
    <setting id="lastfm_email" value="" />
    <setting id="lastfm_password" value="" />
    <setting id="lastfm_token" value="" />
    <setting id="playing_type" value="0" />
    <setting id="playlist_resolver_method" value="1" />
    <setting id="save_library_tbn" value="true" />
    <setting id="track_resolver_method" value="0" />
    <setting id="vk_email" value="" />
    <setting id="vk_password" value="" />
    <setting id="vk_token" value="89a0b8b9ee16978304a0781b4840977ffc06db6c926d6f4991f8d6d72146b6f37c03a4be9e4c3b389a25b" />
</settings>
